<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Live Code Share
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="content" content="notranslate"/>
    <meta name="og:title" content="Live Code Share" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
      <div class="navbar">
        <ul>
          <li id="appItem">
            LiveShare
          </li>
          <li id="homeItem">
            Home
          </li>
          <li id="contactItem">
            Contact
          </li>
          <li id="loginItem">
            Login
          </li>
          <li id="registerItem">
            Register
          </li>
        </ul>
      </div>
    </div>

    <div id="homeForm">
      <h2>LiveShare</h2>
      is a live code sharing application between participants after creating their respective accounts
    </div>

    <div id="loginForm" style="display: none;">
      <form novalidate class="form">
        <h2>
          Login
        </h2>
        <div class="form-field">
          <input type="email" placeholder="Enter Email"/>
        </div>
        <div class="form-field">
          <input type="password" placeholder="Enter Password"/>
        </div>
        <button>Login</button>
      </form>
    </div>

    <div id="registerForm" style="display: none;">
      <form novalidate class="form">
        <h2>
          Register
        </h2>
        <div class="form-field">
          <input type="text" placeholder="Enter Name"/>
        </div>
        <div class="form-field">
          <input type="email" placeholder="Enter Email"/>
        </div>
        <div class="form-field">
          <input type="password" placeholder="Enter Password"/>
        </div>
        <button>Register</button>
      </form>
    </div>

    <div id="contactForm" style="display: none;">
      <form novalidate class="form">
        <h2>
          Send Your Query
        </h2>
        <div class="form-field">
          <input type="text" placeholder="Enter Your Name"/>
        </div>
        <div class="form-field">
          <input type="email" placeholder="Enter Your Email"/>
        </div>
        <div class="form-field">
          <textarea rows="4" cols="5" placeholder="Enter Message"></textarea>
        </div>
        <button>Submit</button>
      </form>
    </div>

    <script src="/templates/home.js" type="text/javascript"></script>
  </body>
</html>