<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Live Code Share
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="content" content="notranslate"/>
    <meta name="og:title" content="Live Code Share" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
      <div class="navbar">
        <ul>
          <li>
            <a href="/">
              LiveShare
            </a>
          </li>
          <li>
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <a href="./login.html">
              Contact
            </a>
          </li>
          <li>
            <a href="./login.html">
              Login
            </a>
          </li>
          <li>
            <a href="./login.html">
              Register
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div id="loginForm">
      <form novalidate class="form">
        <h2>
          Login
        </h2>
        <div class="form-field">
          <input type="email" placeholder="Enter Email"/>
        </div>
        <div class="form-field">
          <input type="password" placeholder="Enter Password"/>
        </div>
        <button>Login</button>
      </form>
    </div> -->

    <div id="registerForm">
      <form novalidate class="form">
        <div>
          <input type="text" />
        </div>
        <div>
          <input type="email" />
        </div>
        <div>
          <input type="password" />
        </div>
        <button>Register</button>
      </form>
    </div>

    <!-- <div id="contactForm">
      <form novalidate class="form">
        <div>
          <input type="text"/>
        </div>
        <div>
          <input type="email" />
        </div>
        <div>
          <textarea rows="4" cols="5"></textarea>
        </div>
      </form>
    </div> -->

  </body>
</html>